In [2]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16)) #typo in math

4.0

In [7]:
#2.Find the error in the following Python code:
def my_function():
    x = 10 #it should be inside function
    x += 5
    print(x)

my_function()

15

In [9]:
#3.x = 5
if x == 10: # '==' for comparison
    print("x is 10")

x is 10

In [15]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort()) #sort is the function
numbers.sort()
print(numbers)

None
[2, 3, 5, 8]

In [19]:
#5.
def square(n):
    return n * n #return statement added

print(square(4))

16

In [26]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5
# tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [35]:
#7.
name = "Alice"
age = 26
print("My name is %s and I am %d years old" % (name, age)) #age is missed in argument

My name is Alice and I am 26 years old

In [39]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [41]:
#9.
for i in range(5, 1, -1): # range in reverse order, so we can add stepper in negative
    print(i)

5
4
3
2

In [43]:
#10.
student = {"name": "John", "age": 20}
print(student["name"]) # name is the key value so it should be string

John